[Unit]
Description=Periodic NVIDIA GPU Core Temperature Update

[Timer]
OnBootSec=5
OnUnitActiveSec=2
AccuracySec=1

[Install]
WantedBy=timers.target
